<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Dope-i-Mine</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Dope-i-Mine uses the microphone so you can speak tasks instead of typing them.</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Dope-i-Mine uses speech recognition to turn spoken tasks into manageable steps.</string>
</dict>
</plist>
